<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Thank you for your purchase.</title>
<meta name="keywords" content="keyword" />
<meta name="description" content="description" />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>

<header>

<div id="page_top">
 <h1>Thank you for your purchase.</a></h1>
 <p><img class="main_photo" src="images/header.jpg" alt=""></p>
</div>

</header>

<div id="content">

<section>
 <h2>order completed</h2>
 <p>Thank you for your purchase.<br />
    Our staff will contact you later.<br />
    Please wait for a minute.<br />

    If you have no contact, your mailaddress may be wrong.<br />
    Then please call  *****. Thank you.<br /></p>
</section>

</div>

<nav>
 <h2>site menu</h2>
  <ul>
   <li><a href="/">home</a></li>
  </ul>
</nav>

<div id="page_back">
 <p><a href="#page_top">▲ goto pagetop</a></p>
</div>

</body>
</html>