<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>**</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" />
  <!-- WEB clip -->
  <link rel="apple-touch-icon-precomposed" href="images/WEB_EBISU.png" />
  <!-- css（ONSENUI） -->
  <link rel="stylesheet" href="./stylesheets/onsenui.css" type="text/css">
  <link rel="stylesheet" href="./stylesheets/onsen-css-components.min.css" type="text/css">
  <!-- custom CSS -->
  <link rel="stylesheet" href="./stylesheets/base.css" type="text/css">
  <link rel="stylesheet" href="./stylesheets/initialize.css" type="text/css">
  <!-- script（ONSEN&VUE） -->
  <script type="text/javascript" src="./libs/vue.min.js"></script>
  <script type="text/javascript" src="./libs/onsenui.min.js"></script>
  <script type="text/javascript" src="./libs/vue-onsenui.js"></script>
  <!-- JQUERY UI -->
  <script type="text/javascript" src="./libs/jquery-ui.min.js"></script>
</head>
<body>
 <v-ons-page>
     <v-ons-card>
		  <h1><%= err %>error</h1>
		  <h2>page not found</h2>
			<p>404 page not found</p>
			<p><a href="*****">go back to toppage</p>
     </v-ons-card>
  </v-ons-page>
</body>
</html>
</body>
</html>