<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/stylesheets/style.css" title="Main styles">
<title>LABELEE management</title>
</head>
<body>
<h1>management</h1>
<form action="/login" method="post">
    <div>
        <label>user ID：</label>
        <input type="text" class="input_box" name="username"/>
    </div>
    <div>
        <label>password：&nbsp;</label>
        <input type="password" class="input_box" name="password"/>
    </div>
    <div>
        <br />
        <input type="submit" class="button" value="login"/>
    </div>
</form>    
</body>
</html>