<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/stylesheets/man_base.css" title="Main styles">
<title>LABELEE management</title>
</head>
<body>
<form method="post" class="flex_btn" action="/view">
    <input id="big_btn" type="submit" value="view" />
</form>
<form method="post" class="flex_btn" action="/edit">
    <input id="big_btn" type="submit" value="edit" />
</form>
</body>
</html>